Repository Azarny/ch.bfh.bti7081.s2019.yellow, pull requests merged in 2019-06, with the labels that each got.

#53 1 2 seminar gui überarbeiten
  src/main/java/ch/bfh/bti7081/model/seminar/SeminarFilter.java
  src/main/java/ch/bfh/bti7081/presenter/SeminarPresenter.java
  src/main/java/ch/bfh/bti7081/view/Layout.java
  src/main/java/ch/bfh/bti7081/view/SeminarView.java
  src/main/webapp/frontend/styles/style.css
Labels: Seminar

#52 2 3 daten speichern
  src/main/java/ch/bfh/bti7081/model/dto/UserDTO.java
  src/main/java/ch/bfh/bti7081/model/manager/FaqManager.java
  src/main/java/ch/bfh/bti7081/model/manager/ForumManager.java
  src/main/java/ch/bfh/bti7081/model/manager/SeminarCategoryManager.java
  src/main/java/ch/bfh/bti7081/model/manager/SeminarManager.java
  src/main/java/ch/bfh/bti7081/model/manager/UserManager.java
  src/main/java/ch/bfh/bti7081/model/seminar/SeminarCategory.java
  src/main/java/ch/bfh/bti7081/presenter/UserPresenter.java
  src/main/java/ch/bfh/bti7081/view/Layout.java
  src/main/java/ch/bfh/bti7081/view/NewSeminarView.java
  src/main/java/ch/bfh/bti7081/view/SeminarView.java
  src/main/test/MockTest.java
Labels: Database

#54 17 3 passwortverschluesselung
  src/main/java/ch/bfh/bti7081/model/User.java
  src/main/java/ch/bfh/bti7081/model/dto/UserDTO.java
  src/main/java/ch/bfh/bti7081/model/manager/SeminarManager.java
  src/main/java/ch/bfh/bti7081/model/manager/UserManager.java
  src/main/java/ch/bfh/bti7081/presenter/UserPresenter.java
  src/main/java/ch/bfh/bti7081/view/Layout.java
  src/main/resources/data/data.sql
  src/main/test/UserManagerTest.java
Labels: Database, Login

#59 1 3 seminar view mit google maps
  .gitignore
  .idea/runConfigurations/start_App.xml
  pom.xml
  src/main/java/ch/bfh/bti7081/model/seminar/Seminar.java
  src/main/java/ch/bfh/bti7081/presenter/NewSeminarPresenter.java
  src/main/java/ch/bfh/bti7081/presenter/SeminarPresenter.java
  src/main/java/ch/bfh/bti7081/presenter/dto/SeminarDTO.java
  src/main/java/ch/bfh/bti7081/view/NewSeminarView.java
  src/main/java/ch/bfh/bti7081/view/SeminarView.java
  src/main/java/ch/bfh/bti7081/view/customComponents/GoogleMap.java
  src/main/java/ch/bfh/bti7081/view/customComponents/GoogleMapMarker.java
  src/main/java/ch/bfh/bti7081/view/customComponents/MapReadyEvent.java
  src/main/java/ch/bfh/bti7081/view/customComponents/MarkerClickEvent.java
  src/main/resources/data/data.sql
Labels: Seminar

#60 removed unnecessary comments, removed findAll() at seminarRepository …
  src/main/java/ch/bfh/bti7081/App.java
  src/main/java/ch/bfh/bti7081/AppConfiguration.java
  src/main/java/ch/bfh/bti7081/model/User.java
  src/main/java/ch/bfh/bti7081/model/faq/FaqEntry.java
  src/main/java/ch/bfh/bti7081/model/forum/ForumCategory.java
  src/main/java/ch/bfh/bti7081/model/forum/ForumEntry.java
  src/main/java/ch/bfh/bti7081/model/forum/ForumEntryComment.java
  src/main/java/ch/bfh/bti7081/model/manager/FaqManager.java
  src/main/java/ch/bfh/bti7081/model/manager/ForumManager.java
  src/main/java/ch/bfh/bti7081/model/manager/SeminarCategoryManager.java
  src/main/java/ch/bfh/bti7081/model/manager/SeminarManager.java
  src/main/java/ch/bfh/bti7081/model/manager/UserManager.java
  src/main/java/ch/bfh/bti7081/model/repositories/FaqEntryRepository.java
  src/main/java/ch/bfh/bti7081/model/repositories/ForumEntryCommentRepository.java
  src/main/java/ch/bfh/bti7081/model/repositories/ForumEntryRepository.java
  src/main/java/ch/bfh/bti7081/model/repositories/SeminarCategoryRepository.java
  src/main/java/ch/bfh/bti7081/model/repositories/SeminarRepository.java
  src/main/java/ch/bfh/bti7081/model/repositories/UserRepository.java
  src/main/java/ch/bfh/bti7081/model/seminar/Seminar.java
  src/main/java/ch/bfh/bti7081/model/seminar/SeminarCategory.java
  src/main/java/ch/bfh/bti7081/presenter/NewSeminarPresenter.java
  src/main/java/ch/bfh/bti7081/view/SeminarView.java
Labels: Allgemeines, Seminar

#61 es wird jeweils nur das intValue der PLZ ausgegeben
  src/main/java/ch/bfh/bti7081/presenter/NewSeminarPresenter.java
  src/main/java/ch/bfh/bti7081/view/SeminarView.java
  src/main/webapp/frontend/styles/style.css
Labels: Seminar
