Repository Azarny/ch.bfh.bti7081.s2019.yellow, pull requests merged in 2019-05, with the labels that each got.

#38 17-1-LoginErstellen
  src/main/java/ch/bfh/bti7081/model/manager/UserManager.java
  src/main/java/ch/bfh/bti7081/view/Layout.java
Labels: Login

#39 1-2-Seminar-GUI
  src/main/java/ch/bfh/bti7081/model/seminar/SeminarFilter.java
  src/main/java/ch/bfh/bti7081/presenter/SeminarPresenter.java
  src/main/java/ch/bfh/bti7081/view/Layout.java
  src/main/java/ch/bfh/bti7081/view/SeminarView.java
  src/main/java/ch/bfh/bti7081/view/SeminarViewImpl.java
Labels: Seminar

#36 0 2 spring setup
  .gitignore
  .idea/runConfigurations/start_App.xml
  README.md
  pom.xml
  src/main/java/ch/bfh/bti7081/App.java
  src/main/java/ch/bfh/bti7081/AppConfiguration.java
  src/main/java/ch/bfh/bti7081/model/User.java
  src/main/java/ch/bfh/bti7081/model/dto/SeminarDTO.java
  src/main/java/ch/bfh/bti7081/model/faq/FaqEntry.java
  src/main/java/ch/bfh/bti7081/model/forum/ForumCategory.java
  src/main/java/ch/bfh/bti7081/model/forum/ForumEntry.java
  src/main/java/ch/bfh/bti7081/model/forum/ForumEntryComment.java
  src/main/java/ch/bfh/bti7081/model/manager/FaqManager.java
  src/main/java/ch/bfh/bti7081/model/manager/ForumManager.java
  src/main/java/ch/bfh/bti7081/model/manager/SeminarCategoryManager.java
  src/main/java/ch/bfh/bti7081/model/manager/SeminarManager.java
  src/main/java/ch/bfh/bti7081/model/manager/UserManager.java
  src/main/java/ch/bfh/bti7081/model/repositories/FaqEntryRepository.java
  src/main/java/ch/bfh/bti7081/model/repositories/ForumEntryCommentRepository.java
  src/main/java/ch/bfh/bti7081/model/repositories/ForumEntryRepository.java
  src/main/java/ch/bfh/bti7081/model/repositories/SeminarCategoryRepository.java
  src/main/java/ch/bfh/bti7081/model/repositories/SeminarRepository.java
  src/main/java/ch/bfh/bti7081/model/repositories/UserRepository.java
  src/main/java/ch/bfh/bti7081/model/seminar/Seminar.java
  src/main/java/ch/bfh/bti7081/model/seminar/SeminarCategory.java
  src/main/java/ch/bfh/bti7081/model/seminar/SeminarFilter.java
  src/main/java/ch/bfh/bti7081/presenter/MainViewPresenter.java
  src/main/java/ch/bfh/bti7081/presenter/NewSeminarPresenter.java
  src/main/java/ch/bfh/bti7081/presenter/SeminarPresenter.java
  src/main/java/ch/bfh/bti7081/view/FaqView.java
  src/main/java/ch/bfh/bti7081/view/Layout.java
  src/main/java/ch/bfh/bti7081/view/MainViewContainer.java
  src/main/java/ch/bfh/bti7081/view/NewSeminarView.java
  src/main/java/ch/bfh/bti7081/view/NewSeminarViewImpl.java
  src/main/java/ch/bfh/bti7081/view/SeminarViewImpl.java
  src/main/resources/config/application.properties
  src/main/resources/data/data.sql
Labels: Allgemeines

#44 2 2 new seminar maske anpassen
  .idea/runConfigurations/start_App_healthApp.xml
  pom.xml
  src/main/java/ch/bfh/bti7081/model/manager/SeminarCategoryManager.java
  src/main/java/ch/bfh/bti7081/model/manager/SeminarManager.java
  src/main/java/ch/bfh/bti7081/presenter/MainViewPresenter.java
  src/main/java/ch/bfh/bti7081/presenter/NewSeminarPresenter.java
  src/main/java/ch/bfh/bti7081/presenter/SeminarPresenter.java
  src/main/java/ch/bfh/bti7081/view/MainViewContainer.java
  src/main/java/ch/bfh/bti7081/view/NewSeminarView.java
  src/main/java/ch/bfh/bti7081/view/NewSeminarViewImpl.java
  src/main/java/ch/bfh/bti7081/view/SeminarView.java
  src/main/java/ch/bfh/bti7081/view/SeminarViewImpl.java
  src/main/test/MockTest.java
  src/main/test/SeminarManagerTest.java
Labels: Seminar

#50 2 2 seminar erstellen fehlermeldung
  src/main/java/ch/bfh/bti7081/view/NewSeminarView.java
  src/main/java/ch/bfh/bti7081/view/customComponents/ErrorNotification.java
  src/main/webapp/frontend/styles/style.css
Labels: Seminar, enhancement

#51 added mockuser and default data to the database
  src/main/resources/data/data.sql
Labels: Database
